* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}